/*Colors used:Primary Color (White): #FEFEFE;
(Black): #454141;
(Blue): #2A5B76;
Secondary Color (Orange): #EEA589;
(Yellow): #EEC689;
(Blue): #347194;
*/
* {
	box-sizing: border-box;
}
main {
	font-family: 'Arapey', serif;
	background-color: #2A5B76;
	font-size: 20px;
	color: #FEFEFE;
    overflow: hidden;
}
h1, h2, h3 {
	line-height: 1.4;
	font-family: 'Fira Sans', sans-serif
}
h1 {
	font-size: 2em;
	font-weight: 700;
}
h2 {
	font-size: 1.10em;
	font-weight: 700;
}
h3 {
	font-size: 1em;
	font-weight: 700;
    padding-top: 10px;
}
p {
    line-height: 1.5;
}
img {
	max-width: 100%;
	height:auto
}
nav > ul > li > a:link {
	color:#454141;
	text-decoration: none
}
nav > ul > li > a:hover {
	text-decoration: underline;
}
nav > ul > li > a:visited {
	color:#EEA589;
	text-decoration: none
}
nav > ul > li > a:active {
	color:#2A5B76;
	text-decoration: none
}
header {
	background-color: #FEFEFE;
}
#about {
	background-color: #FEFEFE;
    background-image: url(/img/illustration_about_large.svg);
    background-position: center;
    background-repeat: no-repeat;
}
#about h2 {
	color:#454141
}
#contact {
	background-color: #FEFEFE;
	color:#454141
}
#hero {
    background-image: url(/img/illustration_home_large.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FEFEFE;
	color: #454141;
}
#hero span {
    display: block;
  }
.button {
	display: flex;
	justify-content: center;
	font-family: 'Fira Sans', sans-serif;
	background-color: #EEA589;
	color:#454141;
	text-decoration:none;
	font-weight: 700;
	font-size: 20px;
	padding: 14px 40px;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #454141;
	transition: 0.2s opacity;
	width:100%;
	margin: auto;
}
.button:hover, .button.contact:hover {
	opacity: 0.8;
	text-decoration: none;
}
.button:active, .button.contact:active {
	background-color: #FEFEFE;
	color:#EEA589;
	border-color: #EEA589;
}
.button.contact {
	display: flex;
	justify-content: center;
	margin: auto;
	font-family: 'Fira Sans', sans-serif;
	background-color: #EEA589;
	color:#454141;
	text-decoration:none;
	font-weight: 700;
	font-size: 20px;
	padding:14px 20px;
	width: 50%;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #454141;
	transition: 0.2s opacity;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #EEA589;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}
/* Layout styling */
.container {
	padding: 0 15px 15px 15px;
}
.row {
	margin: 25px 0;
}
#work .row {
	padding-bottom: 25px;
	border-bottom: 1px solid #4a4a4a;
}
#hero {
	text-align: left;
	padding: 70px 0;
	display: inline-block;
	width: 100%;
}
#about {
    padding: 20px 0;
}
.center {
	text-align: center;
}
footer .container {
	text-align: center;
}
.logo {
	max-width: 250px;
}
header {
	text-align:center;
	padding: 10px 0;
}
nav > ul {
	list-style-type: none;
	padding: 0;
}
nav > ul > li {
	display: inline-block;
}
nav > ul > li > a {
	padding: 0 15px;
	font-size: 20px;
	font-weight: 700;
	color: #454141;
}
nav {
	display:inline-block;
	width: 100%;
}
.social-media ul li {
	display:inline-block
}
.social-media ul li a {
	padding: 0 15px;
}
.social-media {
	display: inline-block;
}
.social-media ul {
	padding:0
}
.social-media img {
	vertical-align: middle;
}
#about picture {
	display: flex;
	justify-content: center;
	max-width: 100%;
    height: auto;
}
#title {
	padding: 15px;
}
#project-recycle #title {
	padding-bottom: 20px;
	padding-top: 10px
}


@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
      }
    
      nav {
        width: auto;
        float: right;
        margin-top: 4px;
      }
      .col-md-6 {
        width: 50%;
      }
      [class*="col-"] {
        float: left;
        padding: 10px;
      }
      #about-page h3 { 
        margin-top: 0;}
    .row::after {
        content: "";
        clear: both;
        display: table;
        }
    .button.contact {
        width: 250px;
    }
    .button.resume {
        width:250px;
    }

}
/* Media Queries */     
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    #hero h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    p {
        font-size: 1.1em;
    }
    #hero p {
        font-size: 1.4em;
    }
    #hero {
        text-align: center;
    }
}

/* Animations */  


figure {
    position: absolute;
    width:100%;
    overflow: hidden;
    margin: 0;
}